@keyframes blink {
	0% {
		opacity: 1;
	}
	49% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	99% {
		opacity: 0;
	}
}
.no-cursor {
	caret-color: transparent;
}
div:focus .fake-cursor,
span:focus .fake-cursor {
	margin-right: -1px;
	border-left: 1px solid currentColor;
	animation: blink 1s;
	animation-iteration-count: infinite;
	position: relative;
	z-index: 1;
}
